* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
